.CatFilter__restList {
    padding: 15px 19px;
    margin: 0px;
    height: calc(100vh - 117px);
    overflow: auto;
}

.CatFilter__restList::-webkit-scrollbar {
    display: none;
}

.catFilterBar__ {
    background-color: white;
}

.catFilterBar__title {
    display: flex;
    padding: 19px 19px 0px 19px;
}
.catFilterBar__title-back {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.6rem;
}

.catFilterBar__title-catName {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 10px;
}

.catFilterBar__catList {
    padding: 0px 12px;
    margin-bottom: 0px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    border-bottom: 1px rgb(216, 216, 216) solid;
    scroll-behavior: smooth;
}

.catFilterBar__container {
    overflow: auto;
}

.catFilterBar__container::-webkit-scrollbar {
    display: none;
}

.catFilterBar__catList-item {
    display: block;
    margin: 0px 7px;
    padding: 6px;
    font-size: 1.1rem;
    color: grey;
    white-space:nowrap;
}

.catFilterBar__catList-item-active {
    display: block;
    margin: 0px 7px;
    padding: 6px;
    border-bottom: 3px black solid;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    white-space:nowrap;
}