.selDelBox__ {
    margin: 40px 15px 0px 15px;
}

.selDelBox__slider {
    margin: 10px 10px;
}

.selDelBox__boxes {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}