
body {
  margin: 0;
  font-family: Pretendard, -apple-system, 
  BlinkMacSystemFont, system-ui, Roboto, 
  'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
  'Noto Sans KR', 'Malgun Gothic', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  cursor:'pointer';
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ui-container {
  max-width: 428px;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX( -50% );
}


body {
  background-color: grey;
  text-align: center;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
}


.mainPage__buttons {
  padding: 10px 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.mainPage__menu-item {
  border-bottom: 1px #f6f6f6 solid;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input[type="radio"] {
  -ms-transform: scale(1.6); /* IE 9 */
  -webkit-transform: scale(1.6); /* Chrome, Safari, Opera */
  transform: scale(1.6);
}

input[type="checkbox"] {
  -ms-transform: scale(1.6); /* IE 9 */
  -webkit-transform: scale(1.6); /* Chrome, Safari, Opera */
  transform: scale(1.6);
}