.longButton__ {
  display: block;
  margin: 6px 0px;
  /* line-height: 45px; */
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding: 4px;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
}

.longButton__primary {
  color: white;
  background-color: #69acfc;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.longButton__secondary {
  color: #868686;
  background-color: rgb(190, 190, 190);
}

.longButtonActive__text {
  color: white;
  font-weight: bold;
}

.longButtonInactive__text {
  color: #69acfc;
  font-weight: bold;
}

.longButtonActive {
  display: block;
  margin: 6px 19px;
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  border-radius: 10px;
  padding: 4px;
  background-color: #69acfc;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
  /* position: fixed;
    left: 19px;
    right: 19px;
    bottom: 128px; */
}

.longButtonInactive {
  display: block;
  margin: 6px 19px;
  line-height: 45px;
  /* width: 100%; */
  height: 45px;
  border-radius: 10px;
  padding: 4px;
  background-color: white;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
  /* position: fixed;
    left: 19px;
    right: 19px;
    bottom: 128px; */
}
