

.mainPage__ {
    /* height: calc(100% - 49px); */
    height: 100%;
    overflow: scroll;
    /* display: none; */
}

.mainPage__noYourRoom {
    color: grey;
    font-weight: bold;
    padding: 15px;
}
.mainPage__separation {
    width: 100%;
    height: 5px;
    background-color: #F3F3F3;
    border-top: 1px solid #E9E9E9;
}

.mainPage__title {
    margin-top: 15px;
    padding-left: 19px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
}

.mainPage__rest-card-list {
    padding: 19px;
}
.mainPage__menu-item-list {
    padding: 0px;
}

.mainPage__room-list {
/* padding: 19px; */
    padding: 0px;
}

.mainPage__cat-list {
    margin-top: 15px;
    padding: 0px 19px;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-areas: "li li li li"; */
    row-gap: 10px;
    column-gap: 10px;
}

@media screen and (max-width: 340px) { 
    .mainPage__cat-list { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    } 
}

.admin_parti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 20px 19px 10px 19px;
    background-color: white;
    border-radius: 3px;

    max-width: 300px;
}

.admin {
    width: 100%;
    border-top: 1px grey dashed;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.admin_room {
    margin: 20px 13px;
    border-radius: 15px;
    background-color: rgb(218, 218, 218);
}

.admin_partiList {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.admin-container {
    height: 100%;
    overflow: scroll;
}

.admin-totPrice {
    border-top: 1px grey dashed;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.admin-beforeOrderCard {
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    max-width: 270px;
}

.admin-roomList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}