.navBar__ {
    background-color: #F5C35E;
    height: 106px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navBar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar__nav-menu {
    padding: 20px 15px 5px 15px;
    color: white;
    font-size: 1.5rem;
}

.navBar__nav-loc {
    width: fit-content;
    padding: 20px 15px 5px 15px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
    font-size: 1rem;
}

.navBar__nav-loc-adrs {
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navBar__nav-profile {
    padding: 20px 15px 5px 15px;
    color: white;
    font-size: 1.5rem;
}

.navBar__search {
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    
}

.navBar__search-icon {
    color: #F5C35E;
    background-color: white;
    width: 38px;
    padding: 8px 0px 3px 0px;
    font-size: 1.5rem;
    border-radius: 7px 0px 0px 7px;
}

.navBar__search-input {
    width: 100%;
    height: 23px;
    padding: 9px 0px 9px 5px;
    background-color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0px 7px 7px 0px;
    outline: none;
    transform: translate(-1px);
}

.navBar__search-input::placeholder {
    color: #fad58b;
}