.restTab__ {
    height: 51px;
    width: 100%;
    max-width: 428px;
    background-color: white; 
    font-size: 1rem;
}

.restTab__list {
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.restTab__item {
    padding: 17px 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    color: rgb(158, 158, 158);
    border-bottom: 1px rgb(158, 158, 158) solid;
}

.restTab__focus {
    color: black;
    font-weight: bold;
    border-top: 1px black solid;
    border-bottom: none;
    border-left: 1px rgb(158, 158, 158) solid;
    border-right: 1px rgb(158, 158, 158) solid;
}

.restTab__item-name {
    width: 42px;
    font-size: 1rem;
}


.restTab__menu {
    width:33.3%;
}

.restTab__info {
    width:33.3%;
}
.restTab__room {
    width:33.3%;
}