.rest-title-image {
  min-height: 293px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.restPage {
  /* height: calc(100% - 49px); */
  height: 100%;
  overflow: auto;
}


.rest-title-back {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  padding: 19px;
}

.restPage__content-list {
  margin: 0px;
  padding-left: 0px;
}