.roomCard__ {
  background-color: white;
  text-align: left;
  /* border-radius: 12px;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.15); */
  height: fit-content;
  padding: 16px 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #f6f6f6 solid;
}


.roomCard__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
}

.roomCard__info-title {
  margin-bottom: 12px;
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.roomCard__info-title-name {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomCard__info-deli {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

.roomCard__info-deli-loc {
  margin-right: 8px;
}

.roomCard__info-deli-icon {
  color: grey;
}

.roomCard__img {
  width: 92px;
  height: 92px;
  border-radius: 6px;
  border: 1px #d7d7d7 solid;
  object-fit: cover;
  margin-left: 14px;
}

/* timer */

.roomTimer__ {
  width: fit-content;
  text-align: center;
  font-size: 0.815rem;
  color: #ffffff;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  display: inline;
  margin-left: 5px;

  /* white-space: nowrap; */
}

.roomTimer__secondary {
  background-color: #4e4e4e;
}

.roomTimer__danger {
  background-color: rgb(224, 83, 83);
}

.roomTimer__text {
  
  /* white-space: nowrap; */
}

/* price raised */

.roomPriceRaised__ {
  width: fit-content;
  background-color: #c4c4c4;
  text-align: center;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 13px;
}

.roomPriceRaised__secondary {
  background-color: #c4c4c4;
}

.roomPriceRaised__primary {
  background-color: #69ACFC;
}

.roomPriceRaised__raised {

  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
}

.roomPriceRaised__divider,
.roomPriceRaised__minOrd {

  font-size: 0.9rem;
  font-weight: lighter;
  color: #424242;
}
