.roomCard {
  background-color: white;

  text-align: left;
  border-radius: 12px;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.15);
  height: 115px;
  width: 390px;
  margin: auto;
}

.roomCardContainer {
  padding: 14px 14px 17px 14px;
  display: flex;
}

.roomCardPicture {
  width: 25%;
  float: left;
  margin: auto;
}

.roomCardInfo {
  width: 75%;
  float: left;
}

.titleRow,
.infoRow {
  margin-bottom: 6px;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.roomCardSecondary {
  color: grey;
}

.roomCardImg {
  max-width: 100%;
  border-radius: 15%;
  margin: auto;
}
