.tabBar__ {
    position: fixed;
    bottom: 0px;
    height: 49px;
    width: 100%;
    max-width: 428px;
    background-color: white; 
    border-top: 1px rgb(158, 158, 158) solid;
}

.tabBar__menu-list {
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabBar__menu {
    font-size: 1.5rem;
    padding: 8px 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(158, 158, 158);
}

.tabBar__focus {
    color: black;
}

.tabBar__menu-name {
    font-size: 0.6rem;
}

.tabBar__home {
    width:20%;
}

.tabBar__search {
    width:20%;
}
.tabBar__fav {
    width:20%;
}
.tabBar__order {
    width:20%;
}
.tabBar__profile {
    width:20%;
}